{% extends 'Base.html' %}
{% load static %}

{% block contenido %}

<br>
<br>


    <div class="container">
       <h2 class="text-center text-dark">
           Acerca de Mi
       </h2>
       <br>
       <div class="row g-4">
           <div class="col-md-6 col-lg-3">
               <div class="card bg-success">
                    <div class="card-body text-center">                        
                    <h3 class="card-title mb-3">Santiago Casamassima</h3>
                    <p class="card-text">Python Developer Jr.</p>
                    
                    </div>
               </div>
           </div>
           <div class="col">
            <div class="">
                 <div class="text-center">
                    <p>Hola! Mi nombre es Santiago CASAMASSIMA. He desarrollado mi carrera profesional en el ámbito de Sistemas, en las áreas relacionadas a Infraestructura. De un tiempo a esta parte me interesé en todo lo relativo a la programación. Por tal motivo, elegí CoderHouse. Espero seguir avanzando.</p>
                 </div>
            </div>
        </div>
       </div>
    </div>
    <br>
    <br>
    <br>
    <br>



{% endblock contenido %}