{% extends "base.html" %}

{% block titulo %}
    <title> Listado de Referentes</title>
{% endblock titulo %}

{% block contenido %}
    <h1 style="color:orange;">Listado de Referentes</h1>
    <a href="{% url 'lista_referentes' %}">Ver todos</a>
    <a href="{% url 'cargar_referentes' %}">Crear Referente</a>
    <br><br>
    <table class="table">
        <tbody>
            <tr>
            <th>Nombre</th>
            <th>Interno</th>
            </tr>
        {% for referente in referentes %}
        <tr>
            <td>{{referente.nombre}}</td>
            <td>{{referente.interno}}</td>
        </tr>
        {% endfor %}
        </tbody>    
    </table>
{% endblock contenido %}